table {
    margin: 0 auto 7px;
    width: 100%; 
}
td {
    width: 25%;
    max-height: 20px;
}
.button {
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 115px;
    margin: 15px;
    border: 2px solid white;
    background: none;
}
.clearbutton {
    display: flex;
}