<div class="RsaContainer">
    <div class="Form-container">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Encryption">
                <div class="form-holder">
                    <form autocomplete="off">
                        <div class="form-item-row">
                            <label for="Text">Your Text</label>
                            <input type="text" name="data" placeholder="Enter Your Text Here" #plaintxt>
                        </div>
                        <div class="form-item-row">
                            <button type="button" (click)="RSAenc(plaintxt.value, '1024')">Submit</button>
                            <button type="reset" (click)="t0()">reset</button>
                        </div>
                        <div>
                            <div *ngIf="isShown0">
                                <label> Output </label>
                                <div class="box">
                                    <textarea #enc disabled rows="1">{{Encrypt}}</textarea>
                                    <button type="button" [cdkCopyToClipboard]="enc.value"> copy </button>
                                </div>
                            </div>
                            <div *ngIf="isShown0">
                                <label> Private Key </label>
                                <div class="box">
                                    <textarea #key disabled rows="1">{{PrivateKey}}</textarea>
                                    <button type="button" [cdkCopyToClipboard]="key.value"> copy </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-tab>
            <mat-tab label="Decryption">
                <div class="form-holder">
                    <form autocomplete="off">
                        <div class="form-item-row">
                            <label for="Text">Your Text</label>
                            <input type="text" name="Text" placeholder="Enter Your Text Here" #cipher>
                        </div>
                        <div class="form-item-row">
                            <label for="Key">Your Key</label>
                            <input type="text" name="Key" placeholder="Enter Your Key Here" #Privkey>
                        </div>
                        <div class="form-item-row">
                            <button type="button" (click)="RSAdec(cipher.value, '1024', Privkey.value)">Submit</button>
                            <button type="reset" (click)="t1()">reset</button>
                        </div>
                        <div *ngIf="isShown1">
                            <label> Output </label><br>
                            <div class="box">
                                <textarea #dec disabled rows="1">{{Decrypt}}</textarea>
                                <button type="button" [cdkCopyToClipboard]="dec.value"> copy </button>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>