.alert {
    width: 50vw;
    min-width: 225px;
    margin: 75px auto 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 25px;
    border-radius: 20px;
    min-height: 250px;
}