<div class="alert">
    <h1>Page Not Found <br> <small>( ERROR 404 )</small></h1>

    <br> <hr> <br>
    <p>Please check the URL and try again</p>
    <br> <hr> <br>
    <p> The HTTP 404, 404 Not Found, 404, 404 Error, Page Not Found, File Not Found, or Server Not Found error message is a Hypertext Transfer Protocol (HTTP) standard response code, in computer network communications, to indicate that the browser was able to communicate with a given server, but the server could not find what was requested.
        The error may also be used when a server does not wish to disclose whether it has the requested information.<br>
        <br>website hosting server will typically generate a "404 Not Found" web page when a user attempts to follow a broken or dead link; hence the 404 error is one of the most recognizable errors encountered on the World Wide Web.</p>
</div>