<div class="Form-container">    
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Encryption">
        <div class="form-holder">
            <form autocomplete="off">
                <div class="form-item-row">
                    <label for="Text">Your Text</label>
                    <input type="text" name="data" placeholder="Enter Your Text Here" #Aesplain>
                </div>
                <div class="form-item-row">
                    <label for="Key">Your Key</label>
                    <input type="text" name="encryptSecretKey" minlength="4" maxlength="32" placeholder="Enter Your Key Here" #Aeskey>
                </div>
                <div class="form-item-row">
                    <button type="button" (click)="set(Aeskey.value, Aesplain.value)">Submit</button>
                    <button type="reset" (click)="t0()">reset</button>
                </div>
                <div>
                    <div *ngIf="isShown0">
                        <label> Output </label>
                        <textarea #enc disabled cols="auto" rows="1">{{Aesencryption}}</textarea>
                        <br>
                        <button type="button" [cdkCopyToClipboard]="enc.value"> copy </button>
                    </div>
                </div>
            </form>
        </div>
        </mat-tab>
        <mat-tab label="Decryption">
        <div class="form-holder">
            <form autocomplete="off">
                <div class="form-item-row">
                    <label for="Text">Your Text</label>
                    <input type="text" name="Text" placeholder="Enter Your Text Here" #Aescipher>
                </div>
                <div class="form-item-row">
                    <label for="Key">Your Key</label>
                    <input type="text" name="Key" minlength="4" maxlength="32" required placeholder="Enter Your Key Here" #Aesdkey>
                </div>
                <div class="form-item-row">
                    <button type="button" (click)="get(Aesdkey.value, Aescipher.value)">Submit</button>
                    <button type="reset" (click)="t1()">reset</button>
                </div>
                <div>
                    <div *ngIf="isShown1">
                        <label> Output </label>
                        <textarea #dec disabled name="Encrypted" rows="1">{{Aesdecryption}}</textarea><br>
                        <button type="button" [cdkCopyToClipboard]="dec.value"> copy </button>
                    </div>
                </div>
            </form>
        </div>
        </mat-tab>
    </mat-tab-group>
</div>