<mat-tab-group animationDuration="1250ms">
    <mat-tab label="Sign In">
        <div class="form-holder">
            <form #signInForm="ngForm" autocomplete="off" (ngSubmit)="signInForm.valid && onSignin(signInForm)">
                <div class="form-item-row">
                    <label for="EmailId" style="margin-right: 12.5px;">Email id</label>
                    <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="abc@mail.com" [pattern]="emailRegex" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
                    <div *ngIf="signInForm.submitted && email.errors">
                        <label class="validation-message">Invalid email address.</label>
                    </div>
                </div>
                <div class="form-item-row">
                    <label for="Password">Password</label>
                    <input type="password" #password="ngModel" name="password" placeholder="Password" minlength="4" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }" [(ngModel)]="model.password">
                    <div *ngIf="signInForm.submitted && password.errors">
                        <label class="validation-message">Minimum 4 characters.</label>
                    </div>
                </div>
                <div class="form-item-row">
                    <button type="submit">Sign in</button>
                    <button type="reset">Reset</button>
                </div>
            </form>
        </div>
        <!-- Error message -->
        <div class="alert" *ngIf="serverErrorMessages">
            {{serverErrorMessages}}
        </div>
    </mat-tab>
    <mat-tab label="Sign Up">
        <div class="form-holder2">
            <form  #signUpForm="ngForm" autocomplete="off" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
                <div class="form-item-row">
                    <label for="UserName">Full Name</label>
                    <input type="text" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName" name="fullName" placeholder="Full Name" required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
                    <div *ngIf="signUpForm.submitted && !fullName.valid">
                        <label class="validation-message">This field is required.</label>
                    </div>
                </div>
                <div class="form-item-row">
                    <label for="EmailId" style="margin-right: 12.5px;">Email id</label>
                    <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="abc@mail.com" required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
                    <div *ngIf="signUpForm.submitted && email.errors">
                        <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
                        <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
                    </div>
                </div>
                <div class="form-item-row">
                    <label for="Password">Password</label>
                    <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password" minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
                    <div *ngIf="signUpForm.submitted && password.errors">
                        <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
                        <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
                    </div>
                </div>
                <div class="form-item-row">
                    <button type="submit">Sign Up</button>
                    <button type="reset">Reset</button>
                </div>
            </form>
        </div>
        <!-- Success message -->
        <div class="success" *ngIf="showSucessMessage">
            Saved successfully
        </div>
        
        <!-- Error message -->
        <div class="alert" *ngIf="serverErrorMessages">
            {{serverErrorMessages}}
        </div>
    </mat-tab>
  </mat-tab-group>
  