<div class="Form-container">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Encryption">
            <div class="form-holder">
              <form autocomplete="off">
                  <div class="form-item-row">
                      <label for="Text">Your Text</label>
                      <input type="text" name="data" placeholder="Enter Your Text Here" #Desplain>
                  </div>
                  <div class="form-item-row">
                      <label for="Key">Your Key</label>
                      <input type="text" name="encryptSecretKey" minlength="4" maxlength="32" placeholder="Enter Your Key Here" #Deskey>
                  </div>
                  <div class="form-item-row">
                      <button type="button" (click)="set(Deskey.value, Desplain.value)">Submit</button>
                      <button type="reset" (click)="t0()">reset</button>
                  </div>
                  <div>
                      <div *ngIf="isShown0">
                          <label> Output </label>
                          <textarea #enc disabled name="Encrypted" cols="25" rows="1">{{Desencryption}}</textarea><br>
                          <button type="button" [cdkCopyToClipboard]="enc.value"> copy </button>
                      </div>
                  </div>
              </form>
          </div>
        </mat-tab>
        <mat-tab label="Decryption">
            <div class="form-holder">
              <form autocomplete="off">
                  <div class="form-item-row">
                      <label for="Text">Your Text</label>
                      <input type="text" name="Text" placeholder="Enter Your Text Here" #Descipher>
                  </div>
                  <div class="form-item-row">
                      <label for="Key">Your Key</label>
                      <input type="text" name="Key" minlength="4" maxlength="32" placeholder="Enter Your Key Here" #Desdkey>
                  </div>
                  <div class="form-item-row">
                      <button type="button" (click)="get(Desdkey.value, Descipher.value)">Submit</button>
                      <button type="reset" (click)="t1()">reset</button>
                  </div>
                  <div>
                      <div *ngIf="isShown1">
                          <label> Output </label>
                          <textarea #dec disabled name="Encrypted" rows="1">{{Desdecryption}}</textarea><br>
                          <button type="button" [cdkCopyToClipboard]="dec.value"> copy </button>
                      </div>
                  </div>
              </form>
          </div>
        </mat-tab>
    </mat-tab-group>
</div>